body{
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass';
    font-size: 15px;
}
@media (min-width:1270px) {
    .container{
        width: 30%;
        margin-top: 10%;
        padding: 2% 2% 2%;
    }
}
@media (max-width:1270px) and (min-width:920px) {
    .container{
        width: 40%;
        margin-top: 10%;
        padding: 5% 2.5% 3.5%;
    }
    body{
        padding-top: 5%;
    }
}
@media (max-width:920px) and (min-width:730px) {
    .container{
        width: 50%;
        padding: 5% 3% 3.5%;
    }
    body{
        padding-top: 10%;
    }
}
@media (max-width:730px) and (min-width:590px) {
    .container{
        width: 60%;
        padding: 5% 3% 3.5%;
    }   
    body{
        padding-top: 10%;
    }
}
@media (max-width:590px) {
    .container{
        width: 80%;
        padding: 8% 5.2% 5%; 
    }
    body{
        padding-top: 20%;
    }
}

.container{
    background-color: hsl(213, 19%, 18%);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    /*padding: 3% 2% 2%;*/
}
#star-img{
    background-color: hsla(216, 12%, 54%, 0.212);    
    padding: 4%;
    border-radius: 100%;
    margin-bottom: 30px;
}
h3{
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}
p{
    color: hsl(217, 12%, 63%);
}

label{
    border-radius: 100%;
    background-color: hsla(216, 12%, 54%, 0.212);
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    vertical-align: middle;
    color: hsl(217, 12%, 63%);
    font-size: 1rem;
    padding-top: 4%;
    text-align: center;
}
label:hover{
    background-color: hsl(216, 12%, 54%);
    color: white;
}
.clicked{
    background-color: hsl(25, 97%, 53%);
    color: white;
}
.rating-container{
    flex-wrap: nowrap;
}
input{
    visibility: hidden;
    width: 6%;
}
#one{
    width: 0;
}
button{
    width:  100%;
    background-color: hsl(25, 97%, 53%);
    padding: 3% 2%;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 700;
}
#button-div{
    text-align: center;
}
button:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}
.hidden{
    display: none;
}
#thx-container{
    padding-left: 2.5%;     
    padding-right: 2.5%;
    text-align: center;
}
#thx-img{
    margin: 10px auto 30px;
    text-align: center;
}
#thx-result p{
    color: hsl(25, 97%, 53%);
    background-color: hsla(216, 12%, 54%, 0.212);
    width: fit-content;
    padding: 2% 5%;
    margin: 0 auto 40px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
}
